
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Manage Movies</h2>

<a asp-controller="Movie" asp-action="AddMovieToRoom">
    <p>Add Movie To Room</p>
</a>

<a asp-controller="Movie" asp-action="CreateMovie">
    <p>Create Movie</p>
</a>
