@model CinemaZ.ViewModels.CinemaDetailsModel 

@{
}
<h1>Cinema Name: @Model.Name</h1>
@foreach (var room in Model.Rooms)
{
    <a asp-controller="Room" asp-action="RoomDetails" asp-route-id="@room.Id"><p>Name: @room.Name</p></a>
    <p>Id: @room.Id</p>
}
